* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Lato";
  src: url(./Lato/Lato-Black.ttf);
}

.center {
  padding-left: calc(50% - 767px);
  padding-right: calc(50% - 767px);
  display: flex;
  justify-content: center;
}

.img__resize {
  max-width: 100%;
  height: auto;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  height: 75px;
  background: #222222;
}

.header__nav__logo__search {
  width: 111px;
  height: 38px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.group_2 {
  width: 44px;
  height: 38px;
}

.search {
  width: 26px;
  height: 26px;
}

.header__nav__gamb__men__basket {
  width: 168px;
  height: 38px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.gamburger {
  width: 32px;
  height: 23px;
}

.men {
  width: 29px;
  height: 29px;
}

.basket {
  width: 41px;
  height: 37px;
}

.main__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  background: #f1e4e6;
}

.main__biock__text {
  display: flex;
  align-items: center;
  width: 405px;
  height: 93.1px;
}

.the_brand {
  font-family: Lato;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}



.of_luxer,
.fashion {
  font-family: Lato;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.fashion {
  color: #f16d7f;
}

.main__block1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.main__block1__1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;

}

.main__block1__1__0 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__block__for_woman,
.main__block__for_man,
.main__block__for_kids,
.main__blockl__accesories {
  position: relative;
}



.for_woman,
.for_men,
.for_kids,
.accesories {
  margin: 14px;
}

.text__for_woman,
.text__for_man,
.text__for_kids,
.text__for_accesories {
  position: absolute;
  text-align: center;

}

.text__for_woman {
  top: 40%;
  left: 30%;
}

.text__for_man {
  top: 40%;
  left: 33%;
}

.text__for_kids {
  top: 40%;
  left: 33%;
}

.text__for_accesories {
  top: 40%;
  left: 43%;
}

.text1 {
  font-family: Lato;
  font-size: 16px;
  color: #fff;
}

.text2 {
  font-family: Lato;
  font-size: 24px;
  color: #F16D7F;


}

.main__block__2 {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__block__2__text1 {
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fi {
  font-family: Lato;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.Shop {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.main__block__2__img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

.main__block__2__img_1 {
  margin: 14px;
}

.main__block__2__img__1 {
  display: flex;
  flex-wrap: wrap;
}

.main__block__2__img__2 {
  display: flex;
  flex-wrap: wrap;
}

.main__block__2__img_1__text {
  width: 360px;
  height: 166px;
  gap: 16px;
}

.ellery {
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.Known {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.amount {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #f16d7f;
}

.ellery,
.Known,
.amount {
  margin: 10px;
}

.button {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.button__link {
  width: 212px;
  height: 48px;
  border: 1px solid #ff6a6a;
}

.link__button {
  margin: 20px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #f26376;
}

@media(max-width:1167px) and (min-width:1024px) {
  .main__block1__1__0 {
    flex-wrap: nowrap;
  }

  .for_men,
  .for_kids,
  .for_woman {
    max-width: 95%;
  }

  .text__for_woman {
    left: 35%;
  }

  .for_men,
  .text__for_kids {
    left: 38%;
  }
}

@media(max-width:1024px) and (min-width: 768px) {

  .for_men,
  .for_kids,
  .for_woman {
    max-width: 95%;
  }

  .text1 {
    font-size: 12px;
  }

  .text2 {
    font-size: 16px;
  }

  .main__block1 {
    width: 100%;
  }

  .main__block1__1__0 {
    flex-wrap: nowrap;
  }
}